.fill {
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 1;
}

@media screen and (max-width: 600px) {
  .fill {
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 1;
  }
}


.logo {
   height: 23vh;
}

@media screen and (max-width: 600px) {
  .logo {
    height: 13vh;
  }
}

.navbar-dark {
    background-color: rgb(0, 0, 0);
    
    }

.spacing1 {
    height: 15vh;
    background-color: white;
}

h3 {
    text-align: center;
    font-family: 'Lobster', cursive;
}


.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 46vw;
  width: 150px;
  will-change: transform;
}

@media screen and (max-width: 800px) {
  .button-27 {
    margin-left: 35vw;
  }
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.drinks{
  margin-top: 4vh;
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 1;
  
}



.drinks1 {
  margin-top: 2vh;
  height: 37vh;
  width: 25vw;
  margin-left: 5vw;
}

.drinks2 {
  margin-top: 2vh;
  height: 37vh;
  width: 25vw;
  margin-left: 7vw;
}

@media screen and (max-width: 600px) {
  .drinks1 {
    margin-top: 3vh;
    height: 30vh;
    width: 25vw;
    margin-left: 5vw;
  }
  
  .drinks2 {
    margin-top: 3vh;
    height: 30vh;
    width: 25vw;
    margin-left: 7vw;
  }

}

.food {
  margin-top: 10vh;
  height: 40vh;
  width: 20vw;
  margin-left: 4vw;
}

@media screen and (max-width: 600px) {
  .food {
    height: 20vh;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 7px;
  }
}

.page2-div {
  background-color: rgb(242, 244, 238);
  height: 200vh;
}

@media screen and (max-width: 600px) {
  .page2-div {
   margin-bottom: 0px;
  
  }
}

.page3-div {
  background-color: rgb(218, 226, 241);
  
}

.kitchen p {
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .kitchen p {
    font-size: 15px;
  }
}

.kitchen {
  padding-top: 10vh;
  font-size: 20px;
  font-family: 'Lobster', cursive;

}

 

